<!DOCTYPE html>
<html>
    <head>
        <title>Drew Taylor</title>
    </head>
    <body>
        <p>About Page</p>
        <ul>
            <%= link_to 'Home', root_path %>
            <li>About Me</li>
            <li>Music</li>
            <li>Videos</li>
        </ul>
    </body>
</html>